/*
tag {
  propriedade:valor;
}

#id {
  propriedade: valor;
}

.class {
  propriedade: valor;
}


*/

header {
  background-color: #ff5f8f;
  height: 91px;

  margin-bottom: 2px;
}

h1 {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  color: #ffffff;

  text-align: center;
  padding-top: 25px;
}

nav {
  height: 50px;
  background-color: #525252;
  padding: 0 50px;
}

.menu-topo-link {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}

.menu-pesquisa {
  width: 274px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #a2a2a2;
  box-sizing: border-box;
  border-radius: 5px;
}

button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;

  background-color: transparent;
  border: 0px;
  text-transform: uppercase;
}

.main-pargraph-report {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin: 0 60px;

  color: #000000;
}

h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;

  margin-left: 24px;
  margin-top: 65px;

  color: #000000;
}

footer {
  height: 270px;
  background: #414141;
  padding-top: 49px;
  padding-bottom: 12px;

  border: 1px solid #000000;
  border-top: 5px solid #ff5f8f;
}

h2 {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;

  margin: 40px 0 27px 0;
}

.section-group-mini-reports {
  display: flex;
  margin: 13px 24px 32px 24px;
}

.main-section-mini-report > a {
  text-decoration: none;
  color: #000000;
}

.main-section-mini-report > a > h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.main-section-mini-report > a > span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.main-section-mini-report > a > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.main-section-mini-report > a > img {
  float: left;
  margin-right: 8px;
}

.rodape-menu {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;

  height: 250px;

  background-color: #414141;
}

footer > nav > ul > li > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 41px;
  text-decoration: none;

  color: #ffffff;
}

footer h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  text-align: right;

  margin-right: 32px;

  color: #ffffff;
}

.menu-topo-item {
  float: left;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 70px;
}

.header-menu-pesquisar {
  float: right;
  margin-top: 10px;
}

/*********************************/

/******** pseudo-classe *******
palavra-chave adiciona ao seletor um estado especial.

:hover
:active
:disabled
:last-child
:first-child
:nth-child(n)

*/
.menu-topo-link:hover {
  background-color: #ff5f8f;
}

/*Aplicando uma cor de fundo ao último elemento com a classe selecionada (main-section-mini-report)*/
/* .main-section-mini-report:last-child {
  background-color: #ff5f8f;
} */

/*Aplicando uma cor de fundo no elemento com a classe selecionada (main-section-mini-report) 
    na posição 1 específico */
/* .main-section-mini-report:nth-child(1) {
      background-color: #ff5f8f;
    } */

/*Aplicando uma cor de fundo no elemento com a classe selecionada (main-section-mini-report) 
    em posições específicas (1 e 3) */
/*.main-section-mini-report:nth-child(1),
.main-section-mini-report:nth-child(3) {
  background-color: #ff5f8f;
}*/

/******* pseudo-elemento /*******
::before
::after
*/

/*Adicionando depois da tag <a> (ancora) o texto "*"   */
/* a::after {
    content: "*";
  } */

/*Adicionando antes da tag <a> (ancora) o texto "<--"   */
/* a::before {
  content: "<--";
} */

/* Aplicando a primeira linha de todas tags <p> (paragrafo) uma cor e transformando em letra maiúscula */
/* p::first-line {
    color: chartreuse;
    text-transform: uppercase; 
  } */

/*Selecionando e alterando a configuração da primeira letra da tag <p> (paragrafo)*/
/* p::first-letter {
  color: blue;
  font-size: 35px;
  text-transform: lowercase;
} */

/******* Aplicando efeitos com pseudo-classe e pseudo-elementos na mesma seleção *******/

/*Usando a pseudo-classe :hover (mouse em cima do elemento) 
  e o pseudo-elemento ::before para adicionar o texto "<--" antes da tag <a>   */
/* a:hover::before {
    content: "<--";
  } */

/*Usando a pseudo-classe :hover (mouse em cima do elemento) 
  e o pseudo-elemento ::after para adicionar o texto "*" depois da tag <a>   */
/* a:hover::after {
    content: "*";
  } */

/********** MEDIA QUERY  *************/

/* @media only screen and (max-width: 1000px) {
  body {
    background-color: blue;
  }
} */

/************ UNIDADE DE MEDIDA NO CSS ********************/

/*.px  - unidade de medida fixa*/

/* .rem e .em - unidades de medida relativa (se refere a alguém) */

/* .rem - 1rem = 16px do root (font padrão do browser, default 16px) */

/* html {
  font-size: 2px;
} */

/*2rem * 16px == 32px */
.main-section-mini-report > a > span {
  font-size: 0.75rem;
  /* font-size: 12px; */
}

article {
  font-size: 1px;
}

/*3rem * 16px = 48px */
.main-pargraph-report {
  font-size: 1em;
}

/* .em -  1em = 16px do elemento pai */
